.alert h2 {
	margin-bottom: 30px;
}

.alert-centriraj {
	text-align: center;
}

.poruka {
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

.notif {
	text-align: center;
	position: fixed;
	background-color: red;
	color: white;
	z-index: 1001;
	top: 60px;
	height: 30px;
	padding-top: 3px;
	width: 100%;
}

/* Dodato za samu izmenu stila obavestenja. 
   Za povratak na stari stil samo zakomentarisati sadrzaj u okviru ova dva selektora.
 */
.notification { /* Za samo obavestenje. */
                  border-radius: 10px;
}
		    
.notification-content { /* Sadrzaj obavestenja. */
	          margin-left: 30px;
		  margin-top: 20px;
	          margin-bottom: 30px;
}
